* {
    font-family: "Open Sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2% 10%;
}

.board {
   display: flex;
   background-color: #dbdbdb;
   width: 605px;
   height: 605px;
}

.line {
    height: 200px;
    width: 100%;
}

.square {
    border: 1px solid rgb(136, 136, 136);
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.marker {
    text-align: center;
    font-size: 50px;
    margin: 0;
}

#marker-x {
    color: #0db7bd ;
}

#marker-circle {
    color: #c93964;
}

.status {
    font-size: 20px;
    margin-bottom: 30px;
}